
<!-- <ng-content select = "header"></ng-content> -->

<h3> {{ user.firstName | uppercase }} {{ user.lastName | uppercase}} </h3>

<!-- <button class="btn btn-primary btn-sm" (click) = "onToggleClasses()">Toggle Classes</button> -->

<!-- <p [ngClass]="['my-border', 'my-font']"> Date of Birth : <span [innerHTML]="user.dob"></span></p> -->

<p [ngClass]="myClasses"> Date of Birth : <span [innerHTML]="user.dob | date : 'MM/dd/yyyy'"></span></p>

<p *ngIf="user.isWorking; else ElseTemplate"> 
    Income : <span [innerHTML]="user.income | currency : 'EUR'"></span> </p>

<p> Total Votes : {{ user.vote }}
    <input type="number" [value]="user.vote" (change)="user.vote = $event.target.value">

    <input type="number" [(ngModel)]="user.vote">
</p>

<ng-template #ElseTemplate>
    <p>Mr. {{ user.lastName | titlecase }} is not working now!</p>
</ng-template>

<!--  <ng-content select = "footer"></ng-content> --> 

