<div class="container">
<h2> Users Loaded Successfully. </h2>

<ul class="list-unstyled">
<li class="card">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img [src]="user.image"> 
            <br> <br>
            <button class="btn btn-outline-info btn-sm btn-block"
                (click) = "onMoreInfo(user)">
                More Info
            </button>
        </div>
        <div class="col-md-9 col-sm-9">
            <h3>
                {{ user.firstName }} {{ user.lastName }}
            </h3>
            <p> Date of Birth : <span [innerHTML]="user.dob"></span></p>
            <p> Income : <span [innerHTML]="user.income"></span> </p>
            <p> Total Votes : {{ user.vote }} 
                <input type="number" 
                    [value]="user.vote"
                    (change) = "user.vote = $event.target.value">

                <input type="number" [(ngModel)] = "user.vote">
            </p>
        </div>
    </div>
</li>
</ul>


</div>