<br>
<div class="container">

    <div class="card">
        <div class="card card-body">
            <p class="display-4 text-success text-center">Register Form</p>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2 col-md-4 offset-md-2">
                            <label for="username">Username : </label>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <input type="text" name="username" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 offset-sm-2 col-md-4 offset-md-2">
                        <label for="password">Password : </label>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="paswword" name="password" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-8  offset-sm-2 col-md-8 offset-md-2">
                        <button class="btn btn-block btn-outline-primary btn-block">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>